@import url("https://fonts.googleapis.com/css?family=Jost");

.logged-out-home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 95.3vh;
}

.logged-out-home h1 {
  font-size: 80px;
  font-family: "Jost", sans-serif;
  color: black;
}

.logged-in-home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 95.3vh;
}

.home-button {
  background-color: #c2fbd7;
  border-radius: 100px;
  box-shadow: rgba(44, 187, 99, .2) 0 -25px 18px -14px inset,rgba(44, 187, 99, .15) 0 1px 2px,rgba(44, 187, 99, .15) 0 2px 4px,rgba(44, 187, 99, .15) 0 4px 8px,rgba(44, 187, 99, .15) 0 8px 16px,rgba(44, 187, 99, .15) 0 16px 32px;
  color: green;
  cursor: pointer;
  display: inline-block;
  font-family: CerebriSans-Regular,-apple-system,system-ui,Roboto,sans-serif;
  padding: 7px 20px;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  margin: 0 50px;
  font-size: 50px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.home-button:hover {
  box-shadow: rgba(44,187,99,.35) 0 -25px 18px -14px inset,rgba(44,187,99,.25) 0 1px 2px,rgba(44,187,99,.25) 0 2px 4px,rgba(44,187,99,.25) 0 4px 8px,rgba(44,187,99,.25) 0 8px 16px,rgba(44,187,99,.25) 0 16px 32px;
  transform: scale(1.05) rotate(-1deg);
}

.home-background {
  background-image: url("../public/home-background.jpg");
  min-height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.trail-form-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 70vh;
}

.trail-form-border {
  background-color: white;
  padding: 50px;
  border: solid black 5px;
}

.trail-form-background {
  background-image: url("../public/home-background.jpg");
  min-height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.trail-form-content h1 {
  font-size: 80px;
  font-family: "Jost", sans-serif;
  color: black;
}

html, body {
  margin: 0;
  padding: 0;
}

.navbar-button {
  background-color: #e1ecf4;
  border-radius: 3px;
  border: 1px solid #7aa7c7;
  box-shadow: rgba(255, 255, 255, .7) 0 1px 0 0 inset;
  box-sizing: border-box;
  color: #39739d;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,system-ui,"Segoe UI","Liberation Sans",sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 1.15385;
  margin: 5px;
  outline: none;
  padding: 8px .8em;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  white-space: nowrap;
}

.navbar-button:hover,
.navbar-button:focus {
  background-color: #b3d3ea;
  color: #2c5777;
}

.navbar-button:focus {
  box-shadow: 0 0 0 4px rgba(0, 149, 255, .15);
}

.navbar-button:active {
  background-color: #a0c7e4;
  box-shadow: none;
  color: #2c5777;
}

.login-background {
  background-image: url("../public/login-background.jpg");
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.signup-background {
  background-image: url("../public/signup-background.jpg");
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.login-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 95.3vh;
}

.signup-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 95.3vh;
}

.login-border {
  background-color: white;
  padding: 50px;
  border: solid black 5px;
}

.signup-border {
  background-color: white;
  padding: 50px;
  border: solid black 5px;
}

.signup-border h1 {
  padding: 0 50px;
}

.login-background h1 {
  font-size: 50px;
  font-family: 'Jost', sans-serif;;
  color: black;
}

.signup-background h1 {
  font-size: 50px;
  font-family: 'Jost', sans-serif;;
  color: black;
}

ul {
  list-style-position: inside;
  text-align: left;
  padding: 0;
}

.trail {
  border: 4px ridge #2471A3;
  text-align: center;
  padding: 10px 10px;
  background-color: #D1F2EB;
}

.trails {
  display: grid;
  padding: 12px;
  grid-gap: 12px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-auto-rows: min-content;
}

.intro-msg {
  text-align: center;
  font-size: 50px;
  font-family: "Jost", sans-serif;
  color: black;
}

.trail-reviews-background h1 {
  font-size: 50px;
  font-family: 'Jost', sans-serif;;
  color: black;
  text-align: center;
}

.trail-reviews-background {
  background-image: url("../public/reviews-background.jpg");
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.trail-reviews-border {
  background-color: white;
  padding: 20px;
  border: solid black 5px;
  width: 70vw;
  margin-top: 20px;
}

.trail-reviews-content {
  display: flex;
  justify-content: center;
  text-align: center;
}

.review {
  border: 4px ridge #2471A3;
  padding: 10px 10px;
  margin: 10px 0;
  background-color: #D1F2EB;
  width: auto;
}

.reviews {
  display: grid;
  padding: 12px;
  grid-gap: 12px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-auto-rows: min-content;
}

.add-review-button {
  appearance: button;
  backface-visibility: hidden;
  background-color: #405cf5;
  border-radius: 6px;
  border-width: 0;
  box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset,rgba(50, 50, 93, .1) 0 2px 5px 0,rgba(0, 0, 0, .07) 0 1px 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-family: -apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Ubuntu,sans-serif;
  font-size: 100%;
  height: 44px;
  line-height: 1.15;
  margin: 12px 0 0;
  outline: none;
  overflow: hidden;
  padding: 0 25px;
  position: relative;
  text-align: center;
  text-transform: none;
  transform: translateZ(0);
  transition: all .2s,box-shadow .08s ease-in;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.close-review-button {
  appearance: button;
  backface-visibility: hidden;
  background-color: red;
  border-radius: 6px;
  border-width: 0;
  box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset,rgba(50, 50, 93, .1) 0 2px 5px 0,rgba(0, 0, 0, .07) 0 1px 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-family: -apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Ubuntu,sans-serif;
  font-size: 100%;
  height: 44px;
  line-height: 1.15;
  margin: 12px 0 0;
  outline: none;
  overflow: hidden;
  padding: 0 25px;
  position: relative;
  text-align: center;
  text-transform: none;
  transform: translateZ(0);
  transition: all .2s,box-shadow .08s ease-in;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

